<div style="margin-left:60px; margin-right:60px;">

    <h4 style="font-style: italic;">Nuestro Catálogo</h4>
    <h1 style="background-color:black; height:2px; width:100%; margin-bottom:10px;"></h1>

    <div class="grilla" style="position:absolute; right:60px; margin-top:-60px;">
        <div class="buscador">
            <form class="form-group">
                <input class="form-control margen-top-5" type="text" placeholder="Buscar libro . . ."
                    style="width: 255px; font-style: italic;" name="filtro" [(ngModel)]="filtro">
            </form>
        </div>
    </div>

    <!-- Catalogo Grid -->
    <div class="grilla">
        <div *ngFor="let libro of libros | libroFilter:filtro">
            <div class="card">
                <button class="btn" (click)="detail(libro.id)" style="padding:15px;">
                    <img class="card-imagen" [src]="libro.imagen" style="width:145px; height:200px;">
                </button>
                <div class="card-body">
                    <h6 style="margin-top:-20px; font-weight:bold;"> {{libro.titulo}} </h6>
                    <h6 class="card-text"> {{libro.precio | currency: '$'}} </h6>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div *ngIf="modal===true">
    <app-libro [visible]="modal" [libroId]="libroId"> </app-libro>
</div>