<div style="margin-left:60px; margin-right:60px;">
    <div class="card">
        <div class="row">
            <div class="col-sm-4">
                <iframe style=" width:100%; height: 87%; margin:20px;"
                    src="https://maps.google.com/maps?q=-32.886153,-68.8386639&zoom=5&output=embed"></iframe>
            </div>

            <div class="col-sm-8">
                <div style="margin:15px;">
                    <h4 style="font-style: italic;">Quienes somos</h4>
                    <h1 style="background-color:black; height:2px; width:100%; margin-bottom:20px;"></h1>
                    <p class="card-subtitle" style="margin-top: 5px;"> {{descripcion}} </p>
                    <br>

                    <h4 style="font-style: italic;">¡Contáctanos!</h4>
                    <div>
                        <img src=""> {{direccion}}
                    </div>
                    <div>
                        <img src=""> {{horario}}
                    </div>             
                    <div>
                        <img src=""> {{telefono}}
                    </div>
                    <div>
                        <img src=""> {{mail}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>