<div class="modal" *ngIf="modalVisible" role="dialog"
    style="display: table; width: 100%; height: 100%; background-color: rgba(0, 0, 0, .4);">

    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4> Iniciar sesión </h4>
                <button type="button" class="btn btn-light" (click)="closeModal()">X</button>
            </div>

            <div class="modal-body">
                <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
                    <div>
                        <h6 class="input-title">Correo electrónico</h6>
                        <input type="text" class="input-login" placeholder=" . . ." formControlName="mail" maxlength="50">
                        <div class="alert alert-danger" role="alert" *ngIf="mailExist==false">
                            Correo no registrado
                        </div>
                    </div>

                    <div>
                        <h6 class="input-title">Contraseña</h6>
                        <input type="password" class="input-login" placeholder=" . . ." formControlName="password"
                            maxlength="50">
                        <div class="alert alert-danger" role="alert" *ngIf="passOk==false">
                            Contraseña incorrecta
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
                    <button type="submit" class="btn btn-success" [disabled]="!loginForm.valid"> Ingresar </button>
                </form>
                <button type="button" class="btn btn-secondary ml-2" (click)="closeModal()"> Cancelar </button>
            </div>
        </div>
    </div>
</div>